blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.7
Flask==3.0.3
greenlet==3.1.1
gTTS==2.5.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pvorca==1.0.0
PyAudio==0.2.14
PyMySQL==1.1.1
pypiwin32==223
pyttsx3==2.98
pywin32==306
requests==2.32.3
setuptools==75.1.0
SpeechRecognition==3.10.4
SQLAlchemy==2.0.35
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
gunicorn